﻿@model PaymentGatewatAPI.Entities.ErrorPageModel
@{
    ViewData["Title"] = "Error";
}


@if (Model != null)
{
    <div class="checkout_header">
        <img src="~/images/VisionPay Logo@3x.png" />
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="checkout_left">
                <div class="checkout_left_blk">
                    <h4 class="text-danger">Error.</h4>
                    <h5 class="text-danger">@Model.ErrorMessage</h5>
                </div>
            </div>
        </div>
    </div>
   

}
