﻿@model PaymentGatewatAPI.Entities.CustomerDetail

@{
    ViewData["Title"] = "Payment";
}


<div class="checkout_header">
    <img src="~/images/VisionPay Logo@3x.png" />
</div>

@if (Model != null && !Model.IsPaymentDone)
{

    using (Html.BeginForm("ProcessTransaction", "Payment", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.IsPaymentDone)
        @Html.HiddenFor(model => model.UniqueId)
        @Html.HiddenFor(model => model.ReturnUrl)

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="checkout_left">
                    <div class="checkout_left_blk">
                        <h2>Payment Details</h2>
                        <div class="payment_checkout">
                            <ul>
                                <li>
                                    <h4>Meerchant Reference</h4>
                                    <span>
                                        @Html.DisplayFor(model => model.PaymentDetails.MerchantReference)
                                        @Html.HiddenFor(model => model.PaymentDetails.MerchantReference)
                                    </span>
                                </li>

                                <li>
                                    <h4>Line 1</h4>
                                    <span> @Html.DisplayFor(model => model.BillingAddress.Line1)</span>
                                    @Html.HiddenFor(model => model.BillingAddress.Line1)
                                </li>

                                <li>
                                    <h4>Line 2</h4>
                                    <span> @Html.DisplayFor(model => model.BillingAddress.Line2)</span>
                                    @Html.HiddenFor(model => model.BillingAddress.Line2)
                                </li>

                                <li>
                                    <h4>City</h4>
                                    <span> @Html.DisplayFor(model => model.BillingAddress.City)</span>
                                    @Html.HiddenFor(model => model.BillingAddress.City)
                                </li>

                                <li>
                                    <h4>PostalCode</h4>
                                    <span> @Html.DisplayFor(model => model.BillingAddress.PostalCode)</span>
                                    @Html.HiddenFor(model => model.BillingAddress.PostalCode)
                                </li>

                                <li>
                                    <h4>State</h4>
                                    <span> @Html.DisplayFor(model => model.BillingAddress.State)</span>
                                    @Html.HiddenFor(model => model.BillingAddress.State)
                                </li>

                                <li>
                                    <h4>Country</h4>
                                    <span> @Html.DisplayFor(model => model.BillingAddress.Country)</span>
                                    @Html.HiddenFor(model => model.BillingAddress.Country)
                                </li>

                                <li>
                                    <h4>Amount</h4><span>
                                        @Html.DisplayFor(model => model.PaymentDetails.Amount)
                                        (@Html.DisplayFor(model => model.PaymentDetails.Currency))

                                        @Html.HiddenFor(model => model.PaymentDetails.Amount)
                                        @Html.HiddenFor(model => model.PaymentDetails.Currency)

                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="checkout_left_blk_btm">
                        <h3>Notes</h3>
                        <ul>
                            <li>Never enter your credit card information if you are connected using a public WiFi</li>
                            <li>Check the URL. Any address besides gateway.visionpay.com.au is invalid.</li>
                            <li>Did the page load easily? If you received a message regarding issues with certificates, STOP.</li>
                            <li>Use a secure and up to date browser like Mozilla Firefox.</li>
                            <li>Always use a legitimate and up to date antivirus.</li>
                            <li>VisionPay will NEVER contact you asking for passwords, credit card information, and other private information via email.</li>
                        </ul>
                        <img src="~/images/comodo_secure.png" />
                    </div>

                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="checkout_right">
                    <h2>Credit/Debit Card Payment</h2>

                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    @{
                        var customMessage = Convert.ToString(TempData["CustomMessage"]);

                        if (customMessage != null && !String.IsNullOrEmpty(customMessage))
                        {
                            <div class="alert alert-error">
                                <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>

                                <span>@customMessage</span>
                            </div>
                        }
                    }

                    <div class="form_checkout">
                        <div class="form_row">
                            <label>Card Number*</label>
                            @Html.TextBoxFor(model => model.CardDetail.CardNumber, new { @class = "" })
                            @*@Html.ValidationMessageFor(model => model.CardDetail.CardNumber)*@
                        </div>

                        <div class="form_row">
                            <label>Card Holder Name*</label>
                            @Html.TextBoxFor(model => model.CardDetail.CardHolderName, new { @class = "" })
                            @*@Html.ValidationMessageFor(model => model.CardDetail.CardHolderName)*@
                        </div>

                        <div class="form_row exp">
                            <label>Expiry Date (MM/YY)*</label>
                            @Html.TextBoxFor(model => model.CardDetail.ExpiryDateMM, new { @class = "" })
                            @Html.TextBoxFor(model => model.CardDetail.ExpiryDateYY, new { @class = "" })
                            @*@Html.ValidationMessageFor(model => model.CardDetail.ExpiryDateMM)
                                @Html.ValidationMessageFor(model => model.CardDetail.ExpiryDateYY)*@
                        </div>

                        <div class="form_row cc">
                            <label>Card Security Code (CVV)</label>
                            @Html.TextBoxFor(model => model.CardDetail.CVV, new { @class = "" })
                            @*@Html.ValidationMessageFor(model => model.CardDetail.CVV)*@
                            @*<span>What is this ?</span>*@
                        </div>

                        <div class="form_row check">
                            @Html.CheckBoxFor(model => model.CardDetail.IsChecked, new { @class = "checkbox" })
                            <label>I have checked that the payment details are correct</label>
                            <br />
                            @*@Html.ValidationMessageFor(model => model.CardDetail.IsChecked)*@
                        </div>

                        <div class="robot">
                            <div class="captcha">
                                <div class="spinner">
                                    <label>
                                        <input type="checkbox" onclick="$(this).attr('disabled','disabled');" />
                                        <span class="checkmark"><span>&nbsp;</span></span>
                                    </label>
                                </div>
                                <div class="text">
                                    I'm not a robot
                                </div>
                                <div class="logo">
                                    <img src="~/images/recaptcha.png" />
                                    <p>reCAPTCHA</p>
                                    <small>Privacy - Terms</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="checkout_buttons">
                        <input type="submit" value="Cancel Payment" />
                        <button type="submit" title="Submit" style="border-radius: 50px;
                                                                    background-color: #0c7bfa;
                                                                    border: 0px;
                                                                    color: #fff;
                                                                    font-size: 15px;
                                                                    display: inline-block;
                                                                    line-height: normal;
                                                                    padding: 12px 65px;
                                                                    font-weight: normal;
                                                                    margin-left: 30px;
                                                                    box-shadow: none;">
                            Submit
                        </button>

                    </div>

                    <div class="payment_icons">
                        <ul>
                            <li><img src="~/images/pay_icon1.png" /></li>
                            <li><img src="~/images/pay_icon2.png" /></li>
                            <li><img src="~/images/pay_icon3.png" /></li>
                            <li><img src="~/images/pay_icon4.png" /></li>
                            <li><img src="~/images/pay_icon5.png" /></li>
                            <li><img src="~/images/pay_icon6.png" /></li>
                            <li><img src="~/images/pay_icon7.png" /></li>
                            <li><img src="~/images/pay_icon8.png" /></li>
                            <li><img src="~/images/pay_icon9.png" /></li>
                            <li><img src="~/images/pay_icon10.png" /></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    }
}
else
{
    <form enctype="multipart/form-data" action="@Model.ReturnUrl" method="post">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="checkout_left">
                    <div class="checkout_left_blk">
                        <h2>Payment Details</h2>
                        <div class="payment_checkout">
                            @if (@Model.PaymentResponse.Successful)
                            {
                                <input id="paymentResponse" name="paymentResponse" type="hidden" value="@Model.PaymentResponse.Message" />
                                <input id="merchantReferenceNumber" name="merchantReferenceNumber" type="hidden" value="@Model.PaymentDetails.MerchantReference" />

                                <h3>
                                    The payment of this transaction is done successfully.
                                </h3>
                                <input id="redirectToMerchantWebsite" type="submit" value="Merchat Website" style="display:none;" />
                            }

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>


    @section scripts{

        <script type="text/javascript">
            $(document).ready(function (event) {
                setTimeout(function () {
                    $("#redirectToMerchantWebsite").click();
                }, 2000);
            });

        </script>
    }

}
